<nav class="bg-primary text-contrast p-4">
  <ul class="flex space-x-4">
    <li><a href="/books" class="hover:underline">Inventory</a></li>
    <li><a href="/books/add" class="hover:underline">Add Book</a></li>
    <li><a href="/authors" class="hover:underline">Manage Authors</a></li>
    <li><a href="/genres" class="hover:underline">Manage Genres</a></li>
  </ul>
</nav>
